<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <p style="font-size: medium;color: pink; text-align: center; background-color:#413133; position: fixed; bottom: 0; width: 100%; z-index: 9999; margin: 0; padding: 0;">Trademark 2020- CookDiaries</p>
</body>
</html>