
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
    <link  rel="stylesheet" href="css/style.css">
</head>    
<body>
<div class="landing">
    <img src="/images/mixkit-cupcakes-with-a-cherry-on-top-36-desktop-wallpaper.png"  width="80%" height="50%" alt="imaaaaaaaaaage">
<p>zsxdcfvgbhnjmk,l</p>
<a href="/dishes">dishes</a>
</div>
</body>