<h1>Sign up</h1>

<form action="/register" method="POSt">
    <input type="text" name="username" placeholder="name">
    <input type="password" name="password" placeholder="pawd">
    <button>Sign up</button>
</form>